.orders__cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding-top: 100px;

}
.orders__card{
    padding: 20px 25px;
    box-shadow: 5px 2px 10px gray;
    border-radius: 15px;
}
.orders__card-img{
    background-color: #1E959B;
    border-radius: 50%;
    text-align: center;
    padding: 10px 0px;
    width: 140px;
    margin-left: 17px;
}
.orders__card-title{
    font-size: 25px;
    width: 180px;
    text-align: center;
}
.orders__card-btn{
    padding: 10px 20px;
    font-size: 15px;
    margin: 25px 0px 0px 25px;
    border-radius: 10px;
}
@media(max-width:300px){
    .orders__card{
        width: 100%;
        padding: 4px 8px;
    }
    .orders__card-img{
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 100%;
    }
    .orders__card-img img{
        text-align: center;
        width: 50%;
        padding: 20px 0px;
    }
    .orders__card-title{
        font-size: 17px;
        width: 100%;
    }
    .orders__card-btn{
        width: 100%;
        text-align: center;
        font-size: 14px;
        padding: 3px 6px;
        margin: 0;
    }
}